{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

<body>
    <main>
        <div>
            <h1>Produce available</h1>
            <table>
                <thead>
                    <tr>
                        <th>product name</th>
                        <th>product image</th>
                        <th>product quantity</th>
                    </tr>
                </thead>
                <tbody> {%for product in produce%}
                    <tr>
                        <td><a href = {% url "details" product.pk %}> {{product.name}} </a></td>
                        <td><img src ="{{product.image.url}}" width = 150></td>
                        <td>{{product.quantity}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

        </div>
    </main>

</body>

</html>